<?xml version="1.0" encoding="UTF-8"?>
<Context path="${appconfig.context}"
         antiJARLocking="true"
         docBase="${package.codedir}/lib/jenkins.war">
  <Environment name="JENKINS_HOME" value="${appconfig.tomcat8.dir}/jenkins-home" type="java.lang.String"/>
  <Environment name="hudson.DNSMultiCast.disabled" value="true" type="java.lang.String" />
</Context>
